<div id="map"></div>
<input type="hidden" id="onclickMarkerInfo" value='test'>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="markerDelete()">Delete</button>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    var map;
    var $onclickMarkerInfo = document.getElementById('onclickMarkerInfo');

    var sendAjax = (lat, lng) => {
        $.ajax({
            url : '/addMarker',
            dataType : 'json',
            type : 'POST',
            data : {
                'location_lat' : lat,
                'location_lng' : lng
            }
        })
    };

    var addMarker = (location, map) => {
        var marker = new google.maps.Marker({
            position : location,
            draggable : true,
            map : map
        });
        
        marker.addListener('click', function(event) {
            console.log(event.latLng.lat() +',' + event.latLng.lng());
            onclickMarkerInfo.value = this;
            $('#myModal').modal('show');
        });
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37, lng: 127},
            zoom: 3
        });

        // Create the DIV to hold the control and call the makeInfoBox() constructor
        // passing in this DIV.
        var infoBoxDiv = document.createElement('div');
        var infoBox = new makeInfoBox(infoBoxDiv, map);
        infoBoxDiv.index = 1;
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(infoBoxDiv);

        map.addListener('rightclick', function(event) {
            addMarker(new google.maps.LatLng(event.latLng.lat(),event.latLng.lng()),map);
            sendAjax(event.latLng.lat(), event.latLng.lng());
            //map.setZoom(map.getZoom()+2);
        });

        $.get("/getAllMarker", function(data) {
            for (var i = 0; i < data.length; i++) {
                addMarker(new google.maps.LatLng(data[i].location_lat,data[i].location_lng),map);
            }
        })
    }

    function markerDelete() {
        var marker = $onclickMarkerInfo.value;
        if (marker !== 'test') {
            marker.setMap(null);
        }
    }

    function makeInfoBox(controlDiv, map) {
        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.boxShadow = 'rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px';
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '2px';
        controlUI.style.marginBottom = '22px';
        controlUI.style.marginTop = '10px';
        controlUI.style.textAlign = 'center';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '100%';
        controlText.style.padding = '6px';
        controlText.innerText = 'The map shows all clicks made in the last 10 minutes.';
        controlUI.appendChild(controlText);
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRpwa5kVz8v0POPFz0pr0gDax-BK467Uk&callback=initMap"async defer></script>